body {
    font-family: MATT;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ff3366; /* สีชมพูสไตล์ SNCF */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

.menu ul li a:hover {
    background-color: #cc0033;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff9999;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li a {
    padding: 12px 16px;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a:hover {
    background-color: #ff6666;
}