body {
    background-color: #42c1e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: MATT;
    margin: 0;
}

.calculator {
    background-color: #89e4ef;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    border: 2px dashed #89e4ef;
}

h2 {
    color: #1f0d72;
    margin-bottom: 20px;
}

input[type="text"], select {
    padding: 10px;
    margin: 10px;
    border: 2px solid #b6cdff;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 16px;
}

input[type="button"] {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #b6d2ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #8069ff;
}